@import "tailwindcss";

@theme{
  
  --primary-color: #F9CA24;
  --primary-light-color: #FEF5E6;
  --primary-dark-color: #D18700;
  --secondary-color: #0682DF;
  --secondary-light-color: #E6F4FF;
  --secondary-dark-color: #0565AE;
  --accent-purple-color: #955CBC;
  --accent-purple-light-color: #F3EDF8;
  --accent-red-color: #F14A7E;
  --accent-red-light-color: #FDE7EE;
  --accent-orange-color: #FB704B;
  --accent-orange-light-color: #FEEBE6;
  --accent-blue-color: #072764;
  --accent-blue-light-color: #E7EFFD;
  --accent-green-color: #05C46B;
  --accent-green-light-color: #E9FCEF;

  --carousel-gradient: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

:root {
  --border: #EEF2F7;
  --bg: #F2F5F9;
  --text: #0F172A;
  --muted: #64748B;
}

html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

